@model NobleCause.SavijSell.Ui.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SavijSell</h1>
    <hr />
    @foreach (var product in Model.Products)
    {
        <div class="card" style="width: 18rem;">
            <img src="@product.Image" class="card-img-top" alt="purse-picture">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <div>@string.Format("{0:c2}",product.Price)</div>
                <div>@product.Location</div>
            </div>
        </div>
    }

</div>