
@{
    ViewData["Title"] = "ConfirmationReminder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirmation Reminder</h1>
<p>A verification email was sent to the address you
    provided. Check your email, and click the link.
</p>
<p>didn't receive the email? click here</p>

